/*Reusable classes*/
.bg-sky-blue{
    background: var(--color-18);
}
.bg-dark{
    background:var(--color-20);
}
.white-bg {
    background: #fff;
    border-bottom: 1px solid #EAECF0;
}
.pt-100{
    padding-top: 100px;
    @include responsive(xxsm){
        padding-top: 50px;
    }
}
.pb-100{
    padding-bottom: 100px;
    @include responsive(xxsm){
        padding-bottom: 50px;
    }
}
.pt-50{
    padding-top: 50px;
    @include responsive(xxsm){
        padding-top: 25px;
    }
}
.pb-50{
    padding-bottom: 50px;
    @include responsive(xxsm){
        padding-bottom: 25px;
    }
}
.mt-60{
    margin-top: 60px;
    @include responsive(xxsm){
        margin-top: 35px;
    }
}
.mb-60{
    margin-bottom: 60px;
    @include responsive(xxsm){
        margin-bottom: 35px;
    }
}
.mt-38{
    margin-top: 38px;
}
.head-with-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.devider{
    width: 100%;
    height: 1px;
    background: var(--color-4); 
}
.cmn-form-field{
    padding: 13px 14px 13px 42px;
    background: var(--color-1);
    color: var(--color-7);
    border: 1px solid var(--color-4);
    border-radius: 6px;
}
.custom-label {
    color: var(--color-8);
    font-family: var(--heading-font-1);
    font-size: 14px;
    &:has( + .custom-input) {
        margin-bottom: 10px;
    }
}
.custom-input {
    font-family: var(--heading-font-1);
    border: 1px solid var(--color-4);
    border-radius: 8px;
    padding: 12px 13px;
    box-shadow: 0 1px 2px 0 #1018280D;
}
input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    background: #fff;
    border-radius: 6px;
    margin-right: 10px;
    position: relative;
    border: 1px solid var(--color-4);
    transition: all .3s;
    &::after {
        content: "\f00c";
        font: var(--fa-font-solid);
        position: absolute;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
    }
    &:checked {
        background: var(--color-15);
        color: #fff;
    }
}
textarea {
    width: 100%;
}
.box-shadow {
    box-shadow: 0 3px 88px 0 #10182814;
}
.border-box {
    border: 1.5px solid var(--color-4);
    border-radius: 12px;
    padding: 24px;
}
.oneLine {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.twoLine {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*ribbon*/
.ribbon {
    display: inline-block;
    position: relative;
    .text{
        padding: 5px 10px;
        background: #8A39E1;
        border-radius: 6px 0 6px 0;
        color: #fff;
        font-size: 14px;
    }
    .svg {
        position: absolute;
        bottom: -16px;
        left: 0;
        z-index: -1;
    }
    &.rent {
        .text{
            background: var(--color-15);
        }
        .svg path {
            fill: var(--color-15);
        }
    }
}