// Buttons Style
.cmn-btn {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px 30px;
    transition: all .5s linear;
    text-align: center;
}
.cmn-small-btn {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px 20px;
    font-family: var(--heading-font-1);
    transition: all .5s linear;
    text-align: center;
}
.delete-btn {
    border-color: #EAECF0;
    color: var(--color-6);
}
.edit-btn {
    color: var(--color-1);
    background: var(--color-15);
}
.accept-btn {
    color: #fff;
    background: var(--color-14);
}
.reject-btn {
    color: #98A2B3;
    border-color: var(--color-4);
}
.transparent-btn {
    border-color: var(--color-17);
    color: var(--color-17);
    &:hover {
        background: var(--color-17);
        color: #fff;
    }
}
.transparent-btn-one {
    border-color: var(--color-4);
    color: var(--color-7);
    box-shadow: 0 1px 2px 0 #1018280D;
    &:hover {
        background: var(--color-4);
        color: #fff;
    }
}
.fill-btn {
    background-color: var(--color-15);
    color: var(--color-1);
    &:hover {
        background: #fff;
        color: var(--color-15);
        border-color: var(--color-15);
    }
}
.simple-btn {
    color: var(--color-15);
    letter-spacing: -1px;
}
.slider-arrow{
    font-size: 18px;
    line-height: 18px;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid var(--color-4);
    &.slider-pre{
        color: var(--color-8);
        background: var(--color-1);
    }
    &.slider-next{
        color: var(--color-1);
        background: var(--color-15);
        margin-left: 10px;
        border-color: var(--color-15) ;
    }
}
.slick-dots{
    display: flex;
    li{
        margin-right: 10px;
        height: 15px;
        width: 15px;
        background: var(--color-15);
        border-radius: 50%;
        border: 2px solid var(--color-1);
        outline:1px solid transparent;
        transition: all ease-in-out .5s;
        left: 20%;
        right: 80%;
        &.slick-active{
            background: var(--color-15);
            outline:1px solid var(--color-15);
        }
        button{
            display: none;
        }
    }
}
// Tags
.tagGroup {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tag {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    font-family: var(--heading-font-1);
}
.tag0{
    background: #4D77FF1A;
    color: #98A2B3;
}
.tag1 {
    background: #4D77FF1A;
    color: #4D77FF;
}
.tag2 {
    background: #F766311A;
    color: #F76631;
}
.tag3 {
    background: #EAECF0;
    color: #8A39E1;
}
// Badge
.badge {
    font-size: 14px;
    font-family: var(--heading-font-1);
    font-weight: 400;
    padding: 6px 10px;
    border-radius: 6px;
    text-transform: uppercase;
}
.badge-small {
    font-size: 11px;
}
.badge-purple {
    color: #8A39E1;
    background: rgba(138, 57, 225, 0.12 );
}
.badge-red {
    color: var(--color-15);
    background: rgba(247, 102, 49, 0.12);
}
.badge-green {
    color: #16A34A;
    background: #DCFCE7;
}
//Toggle Btn
.toggole-btn {
    display: inline-block;
    height: 24px;
    width: 44px;
    border-radius: 12px;
    background: var(--color-4);
    transition: all .3s linear;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #fff;
        top: 2px;
        left: 2px;
        transition: all .3s linear;
    }
    &.active {
        background: var(--color-15);
        &::after {
            left: auto;
            right: 2px;
        }
    }
}
