.shaping{
    color: var(--color-8);
    .text{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .shaping-btn{
        .works-btn{
            color: var(--color-11);
            svg{
                margin-right: 10px;
            }
        }
    }
}