/*Header Part*/
// header{
//     &.sticky-header{
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         z-index: 992;
//         .navbar{
//             padding: 20px 0;
//         }
//     }
// }
/*Navigation*/
.navbar-nav a{
    color: var(--color-17);
    font-family: var(--heading-font-1);
    padding: 10px 15px;
    font-weight: 400;
    font-size: 16px;
}
.menu-item-has-children {
    position: relative;
    .sub-menu {
        position: absolute;
        text-align: left;
        min-width: 220px;
        margin: 0;
        padding: 0;
        left: 0;
        top: 100%;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        z-index: 992;
        border-bottom: 5px solid var(--main-color-one);
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in;
    } 
    &:hover {
        .sub-menu {
            visibility: visible;
            opacity: 1;
        }
    }
}
.navbar-right-flex {
    gap: 14px;
}
.navbar-right-content a {
    font-family: var(--heading-font-1);
    font-weight: 400;
    font-size: 16px;
}
