.user-setting-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--heading-font-1);
    .password {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .pass {
            font-size: 20px;
            color: #344054;
            margin-bottom: 10px;
        }
    }
    .another-setting {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}