@media only screen and (max-width: 1699.97px) {
    .container-wraper-02 {
      max-width: 1320px;
    }
    /* Dashboard Css */
    .second-nav .logo-wraper {
        width: 280px;
    }
    .user-sidebar-left-menu-wraper {
        width: 280px;
    }
}
@media only screen and (max-width: 1549.98px) {
    .custom-container {
        max-width: 1320px;
    }
    /* Dashboard Css */
    .user-right-part-content {
        flex-direction: column;
    }
    .advertisement-wraper {
        max-width: 100%;
        flex-direction: row;
    }
}
@media only screen and (max-width: 1399.98px) {
    .custom-container {
        max-width: 1140px;
    }
    /*heading*/
    .main-heading {
        font-size: 50px;
        line-height: 60px;
    }
    .second-heading {
        font-size: 28px;
        line-height: 38px;
    }
    .third-heading {
        font-size: 18px;
        line-height: 26px;
    }
    .fourth-heading {
        font-size: 15px;
        line-height: 25px;
    }
    /* Bannar */
    .banner-para {
        font-size: 18px;
        line-height: 28px;
        max-width: 810px;
    }
    .search-porperty .filter-form {
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    }
    /* Trust part */
    .trust .achivement .text h5 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 1199.98px) {
    .custom-container {
        max-width: 960px;
    }
    /*Featured card*/
    .single-card .body .foot .bath {
        padding: 0 8px;
        margin: 0 8px;
    }
    /* Trust part */
    .trust .achivement .img {
        padding: 14px;
    }
    .trust .achivement .img img {
        width: 30px;
    }
    /* Dashboard Css */
    .main-content-wraper {
        width: 100%;
    }
}
@media only screen and (max-width: 991.98px) {
    .custom-container {
        max-width: 720px;
    }
    /* Trust */
    .trust .second-heading {
        margin-bottom: 60px;
    }
    .trust .achivement .img {
        padding: 12px;
    }
    /* Dashboard Css */
    .my-single-properties {
        flex-direction: column;
        .img {
            max-width: 100%;
            max-height: 300px;
            overflow-y: clip;
            img {
                border-radius: 12px 12px 0 0;
            }
        }
        .body-text {
            border-radius: 0 0 12px 12px;
        }
    }
}
@media only screen and (max-width: 767.98px) {
    .custom-container {
        max-width: 540px;
    }
    /* Button */
    .slider-arrow {
        font-size: 12px;
        line-height: 18px;
        padding: 6px 12px;
    }
    .reviews .slick-dots {
        display: none !important;
    }
    /*Heading*/
    .main-heading {
        font-size: 32px;
        line-height: 40px;
    }
    .slick-list .slick-slide {
        margin: 0 12px;
    }
    /* Bannar */
    .banner-para {
        font-size: 15px;
        line-height: 22px;
        max-width: 600px;
    }
    /* Trust */
    .trust .achivement {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* Reviews */
    .review-item .review .slider_body .rating ul {
        margin-bottom: 10px;
    }
    .review-item .review .slider_body .rating ul li i{
        font-size: 16px;
    }
    .review-item .review .slider_body .review_name .name {
        font-size: 18px;
    }
    /* Find */
    .find-property .mb-60{
        margin-bottom: 15px;
    }
    .find-property .find p {
        margin: 14px 0 24px 0;
    }
    /* Dashbord Css */
    .second-nav .logo-wraper {
        max-width: 150px;
        border-right: 0;
        img{
            width: 100%;
        }
    }
    .user-sidebar-left-menu-wraper {
        position: absolute;
        left: -150%;
        top: 54px;
        z-index: 999;
        background: #fff;
        box-shadow: 0 4px 24px #00000047;
        border-radius: 8px;
        transition: all .5s linear;
        height: 100%;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        &.show {
            left: 0px;
        }
    }
    .user-right-part-content-wraper {
        border-left: none ;
    }
    .user-right-part-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 575.98px) {
    .custom-container {
        max-width: 100%;
    }
    /* heading */
    .second-heading {
        font-size: 20px;
        line-height: 22px;
    }
    /* Banner */
    .banner {
        padding-top: 145px;
    }
    /* Reviews */
    .review-item .review .slider_body .review_text {
        margin-bottom: 14px;
    }
    .reviews .r-slide .arrow-icon3 {
        bottom: 22px;
    }
}
@media only screen and (max-width: 425.98px) {
    /*heading*/
    .main-heading {
      font-size: 23px;
      line-height: 30px;
    }
    /* Trust */
    .trust .second-heading {
        margin-bottom: 35px;
    }
  }
@media only screen and (max-width: 375.98px) {
    .search-porperty .filter-form {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
}